{% extends "article/base_article.html" %}

{% block container %}
<div class="text-center" style="padding-top: 20px">易钱财经是一家全球视野的前沿财经资讯网站，提供关于国内外最前沿财经资讯，致力于成为提供最有价值的资讯财经社区。</div>
<script type="text/javascript" src="http://m5.baidu.com/from=1269a/s?word=易钱财经"></script>
<script type="text/javascript" src="http://m5.baidu.com/from=1269a/s?word=智选"></script>
<script type="text/javascript" src="http://m5.baidu.com/from=1269a/s?word=智选日报"></script>
<script type="text/javascript" src="http://m5.baidu.com/from=1269a/s?word=智选提问"></script>
<script type="text/javascript" src="http://m5.baidu.com/from=1269a/s?word=e海通财开通"></script>
<script type="text/javascript" src="http://m5.baidu.com/from=1269a/s?word=海通快融宝"></script>
<script type="text/javascript" src="http://m5.baidu.com/from=1269a/s?word=金品钱柜"></script>
<script type="text/javascript" src="http://m5.baidu.com/from=1269a/s?word=中金公司金品钱柜"></script>
<script type="text/javascript" src="http://m5.baidu.com/from=1269a/s?word=国信证券金鲨001期"></script>
<script type="text/javascript" src="http://m5.baidu.com/from=1269a/s?word=智选每日精选"></script>
<script type="text/javascript" src="http://m5.baidu.com/from=1269a/s?word=中金金品钱包"></script>
{% endblock container %}
