{% extends "article/base_article.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}{{article_type.1}}{% endblock title %}

{% block container %}
<ol class="breadcrumb f15" style="margin-bottom: 10px; margin-top: 10px; padding-left: 0;">
    <li><a href="/">首页</a></li>
    <li><a href="/{{article_type.0}}">{{article_type.1}}</a></li>
</ol>
<div class="col-md-8 pt-0 pl-0">
<ul class="list-group pt-5 bgc-fff">
    
    {% for article in articles %}
    <li class="list-group-item border-left-0 border-right-0 bdc-eee bgc-0 pl-0">
        <div class="border-left-4 pl-10 bdc-E67E22">
            <div class="">
                <a class="f16 fb" href="{{article.get_url}}">{{article.title|str_display:30}}</a>
                <span class="f12 co2 pull-right">{{article.create_time|date:"Y-m-d H:i"}}</span>
            </div>
            <div class="pt-10 f13 co2">{{article.get_summary|safe}}</div>
        </div>
    </li>
    {% endfor %}
</ul>
{{page_params|paging:request}}
</div>

{% endblock container %}