<div class="pt-30 pb-30 bgc-333 co4 f12 text-center">
    <div class="container zx-container pb-0 pt-20">
        
        <div class="pt-0">
            <a class="pr-10 gray-white" href="{{MAIN_DOMAIN}}/s/about" rel="nofollow">友情链接</a> |
            <a class="pr-10 pl-10 gray-white" href="http://kaihu.{{SERVER_DOMAIN|default:'zhixuan.com'}}">友情链接</a> |
            <a class="pr-10 pl-10 gray-white" href="{{MAIN_DOMAIN}}/s/business" rel="nofollow">友情链接</a> |
            <a class="pr-10 pl-10 gray-white" href="{{MAIN_DOMAIN}}/s/links">友情链接</a> |
            <a class="pr-10 pl-10 gray-white" href="{{MAIN_DOMAIN}}/s/logs" rel="nofollow">友情链接</a>
        </div>

        <div class="pt-5">
            <span>Copyright &copy; 2009 - {{YEAR}} eqcj.com. All Rights Reserved.</span>
        </div>
    </div>
</div>